.home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.home-container {
  grid-area: e;
  margin: auto;
}

.logo {
  height: 25rem;
  width: 25rem;
}

form.add-todo {
  grid-area: h;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-input {
  width: 30rem;
  /* padding: 1rem; */
}

.home-button {
  width: 15rem;
  /* margin-top: 1rem; */
  /* padding: .5rem; */
}

.rounded-full {
  border-radius: 9999px;
}
