.todolist-screen {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.todolist-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}

.todolist-header {
  display: flex;
  margin-bottom: 30px;
}

.todolist-header-text {
  font-size: 28px;
  color: #a0a0a0;
}

.todolist-column {
  height: 550px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todolist-column p {
  font-size: 28px;
  font-weight: bold;
  color: #a0a0a0;
}

.todolist {
  padding: 40px;
  height: 90%;
  width: 100%;
  border-radius: 25px;
  overflow: scroll;
}

.todolist-add {
  position: absolute;
  right: 0;
  bottom: 0;
}

.add-button {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.plus-svg {
  height: 50px;
  width: 50px;
  fill: #fff;
}

.start {
  background-color: #443f69;
  position: relative;
}
.in-progress {
  background-color: #362143;
}
.done {
  background-color: #7c9f84;
}
